<header class="site-header">
  <a class="site-title" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/DSClogo.png" style="width:829px;height:288px;"></a>

  <nav class="navbar">
    <ul>
      <li class="nav-item"><a href="{{ site.baseurl }}/">Home</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/chapter-2/">Chapter 2</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/books/">Books</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/dhawards2019/">DH Awards 2019 Ads</a></li>
    </ul>
  </nav>

</header>
