<header class="site-header">
  <a class="site-title" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/DSClogo.png" style="width:829px;height:288px;"></a>

  <nav class="navbar">
    <ul>
      <li class="nav-item"><a href="{{ site.baseurl }}/">home</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/about/">about</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/chapter-2/">chapter 2</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/books/">books</a></li>
    </ul>
  </nav>

</header>
